[Unit]
Description=Alertmanager
After=network-online.target

[Service]
User=root
Restart=on-failure
WorkingDirectory={{ soft_path }}/alertmanager
ExecStart={{ soft_path }}/alertmanager/alertmanager

[Install]
WantedBy=multi-user.target
