[Unit]
Description=Node Exporter
After=network-online.target

[Service]
User=root
Restart=on-failure
WorkingDirectory={{ soft_path }}/node_exporter
ExecStart={{ soft_path }}/node_exporter/node_exporter

[Install]
WantedBy=multi-user.target
